# COMPOSE_PROJECT_NAME=quantflow
# POSTGRES_DB=quantflow
# POSTGRES_USER=quantflow
# POSTGRES_PASSWORD=change-me-before-production
ZERODHA_API_KEY=7wpzraf58vlzt4gu
ZERODHA_API_SECRET=32punz43jrc0w8760e1lfl5fvt0fj4j8
ZERODHA_REDIRECT_URL=https://3dd1-2409-40c4-202f-ac45-15d1-4dab-4ad0-4d19.ngrok-free.app/login